<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.personalproject.languagelearningapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.LanguageLearningApp"
            android:usesCleartextTraffic="true">
        <activity
                android:name=".learnGrammar.PracticeSessionActivity"
                android:exported="true"/>
        <activity
                android:name=".learnGrammar.GrammarPracticeModeActivity"
                android:exported="true"/>
        <activity
                android:name=".learnGrammar.CustomGrammarPracticeTypesActivity"
                android:exported="true"/>
        <activity
                android:name=".learnGrammar.GrammarPracticeMainActivity"
                android:exported="true"/>
        <activity
                android:name=".learnGrammar.CustomGrammarPracticeTopicsActivity"
                android:exported="true"/>
        <activity
                android:name=".create.CreateGrammarExercise"
                android:exported="true"/>
        <activity
                android:name=".create.MainCreateExercise"
                android:exported="true"/>
        <activity
                android:name=".educator.EducatorHomeActivity"
                android:exported="true"/>
        <activity
                android:name=".learner.LearnerHomeActivity"
                android:exported="true"/>
        <activity
                android:name=".authenticationActivities.MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".authenticationActivities.LoginActivity"
                android:exported="true">
        </activity>
        <activity
                android:name=".authenticationActivities.RegisterActivity"
                android:exported="true">
        </activity>
        <activity
                android:name=".authenticationActivities.resetPasswordActivity"
                android:exported="true"
                android:parentActivityName=".authenticationActivities.LoginActivity">
        </activity>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>
    </application>

</manifest>